@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html, body{
  margin:0;
}

#header{
  display: block;
  position: fixed;
  margin: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background: linear-gradient(to top left, #ff6600 0%, #ffcc99 100%);
}

#name{
  font-size: 2em;
  font-weight: bold;
  float: left;
  font-family: 'Arizonia', cursive;
  padding: 5px 50px;
}

#intro{
  float: right;
}

#intro ul {
  display: flex;
  margin: 0;
  padding-right: 10px;
  list-style: none;
}

#intro li {
  margin: 15px;
}

#intro a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#intro a:hover {
  padding-bottom:5px;
  border-bottom: 3px solid;
}

#intro a.active {
  padding-bottom:5px;
  border-bottom: 3px solid;
}

#intro a.icon {
  display: none;
}

.clr{
  clear:both;
}

.sect {
  max-width: 1280px;
  opacity: 0;
  display: none;
  padding: 50px 180px;
  padding-bottom: 5em;
  position: absolute;
  overflow: hidden;
}

.showsect {
  opacity: 1;
  display: block;
}

.sect .title{
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.sect .sub-title {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  float: left;
  width: 25%;
}

.sect .intro {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  float: right;
  width: 70%;
  padding-bottom: 5px;
  border-bottom: 2px solid #ff6600;
}

.sect .content {
  display: block;
  float: right;
  width: 70%;
}

#about img {
    height: 10em;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to top left, #ff6600 0%, #ffcc99 100%);
}

#footer .contact-sect{
    margin: 15px 25px;
    display: flex;
    justify-content: center;
}

#footer .social-links {
    float: left;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 2px solid;
}

#footer .social-links a{
    color: black;
    font-size: 2em;
    padding: 5px;
}

@media screen and (max-width: 1045px) {
        #name{
          display: flex;
          justify-content: center;
          width: 100%;
          padding: 0;
        }

        #intro a.icon {
          display: block;
          position: absolute;
          right: 10px;
          top: 10px;
        }

        #intro ul{
          display: none;
        }

        #intro ul.ham {
          display: block;
          margin: 0;
          list-style: none;
        }

        .sect {
          padding: 60px 20px;
	  padding-bottom: 7em;
          min-width: 280px;
        }

        .sect .title{
          font-size: 1em;
          text-align: center;
        }

        .sect .sub-title {
          font-size: 1em;
          clear: left;
          width: 100%;
        }

        .sect .intro {
          font-size: 1em;
          clear: right;
          width: 100%;
        }

        .sect .content {
          clear: right;
          width: 100%;
        }

        #about img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        #footer .contact-sect{
            display: block;
            text-align: center;
        }

        #footer .social-links {
            float: none;
            margin: 0;
            padding: 0;
            border: none;
        }

        #footer .social-links a {
            font-size: 1.2em;
        }
	}
