#header{
  display: block;
}

#name{
  font-size: 2em;
  font-weight: bold;
  float: left;
}

#intro{
  float: right;
}

.clr{
  clear:both;
}

.sect {
  max-width: 1280px;
  padding: 10px 180px;
}

@media (max-width: 767px) {
	.sect { padding: 60px 20px; min-width: 280px; }
	}

.sect .title{
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.sect .sub-title {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  float: left;
  width: 25%;
}

.sect .intro {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  float: right;
}

.sect .content {
  display: block;
  float: right;
  width: 70%;
}

